<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bucker</title>
  <link rel="stylesheet" href="/styles.css">
  
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/transaction/new"></a>Create new transaction</li>
        <li><a href="/transactions">View all transactions</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>

</body>
</html>