<form action="/transactions" method="POST">

  <label for="name">Amount:</label>
  <input type="text" id="amount" name="amount"><br>

  <label for="description">Description:</label>
  <input type="text" id="description" name="description"><br>

  <label for="tag">Tag:</label>
  <select name="tag" id="tag">
  <% for m %>

  </select><br>

  <input type="submit" value="Add transaction"><br>

</form>