<form action="/transactions" method="POST">

  <label for="name">Amount:</label>
  <input type="text" id="amount" name="amount"><br>

  <label for="description">Description:</label>
  <input type="text" id="description" name="description"><br>

  <label for="tag">Tag:</label>
  <input type="text" id="tag" name="tag_id"><br>

  <label for="merchant">Merchant:</label>
  <input type="text" id="merchant" name="merchant_id"><br>

  <input type="submit" value="Add transaction"><br>

</form>