a {
  text-decoration: none;
  font-size: 1.4em;
  color: #25283D;
  font-weight: 700;
}

body {
  color: #25283D;
  font-family: 'Arvo', serif;
  text-align: center;
}

form {
  font-size: 2em;
  margin-top: 40px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
}

header {
  color: #3D5467;
  height: 15em;
  margin: 0;
  text-align: right;
}

html {
  background-image: url("./pexels-photo-218434.jpeg");
  background-position: center;
  background-size:cover;
  position: center;        
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
}

h1 {
  color: #82A3A1;
  -webkit-text-stroke: 0.1px black;  font-size: 3em;
  font-family: 'Carter One', cursive;
  margin-top: 30px;
}

input {
  height: 30px;
  width: 200px;
  font-size: 0.7em;
  margin: 10px;
}

li {
  margin: 20px;
  font-size: 1.5em;
  text-align: left;
  padding-left: 125px;
}

main {
  background-color: lightgrey;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

p {
  font-size: 2em;
  margin: 5px;
  margin: 0 auto;
}

select {
  height: 30px;
  width: 200px;
  font-size: 0.7em;
  margin: 10px;
}

table {
  display: inline-block;
  font-size: 1.3em;
  text-align: center;
  margin: 0 auto;
}

table#t01 {
  font-size: 1.6em;
}

tbody {
  position: relative;
}

td, th {
  background-position: center;
  background-color: #A39BA8;
  position: relative;
  text-align: center;        
  vertical-align: middle;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

#bottom {
font-size: 2em;
font-weight: 600;
padding-right: 15px;
padding-left: 15px;
color: #82A3A1;
-webkit-text-stroke: 0.3px black;
text-shadow: 4px 4px 4px #575C55;
font-family: 'Carter One', cursive;
}

#descrip {
  width: 300px;
  position: relative;        
}

#label_button {
  width: 170px;
}

#main_title {
  font-size: 10em;
  font-family: 'Gloria Hallelujah', cursive;
  height: 10px;
  margin: 10px;
  text-align: center;
  text-shadow: 5px 5px 5px #25283D;
  -webkit-text-stroke: 1px black;
}

#new {
  background-color: #A39BA8;
  width: 600px;
  padding: 30px;
}

#top {
  font-size: 2em;
  padding-right: 20px;
  padding-left:  20px;
  text-shadow: 2px 2px 2px #8AA29E;
  font-weight: 700;
  font-family: 'Carter One', cursive;
}

#total {
  font-size: 3em;
  margin: 10px ;
  position: relative;        
}

#user {
  color: #25283D;
  display: inline-block;
  font-size: 2em;
  position: relative;        
  text-align: left;
  width: 200px;
  padding: 20px;
}

#welc {
  font-size: 5em;
  text-shadow: 4px 4px 4px #575C55;
  color: #82A3A1;
  -webkit-text-stroke: 1px black;

}

#welc_p {
  font-size: 3em;
  text-shadow: 4px 4px 4px #575C55;
  color: #82A3A1;
  -webkit-text-stroke: 0.7px black;
  font-weight: 700;
  font-family: 'Carter One', cursive;
}


.edit {
  background-color: #A39BA8;
  font-size: 1em;
  padding: 10px ;
}

.button {
  height: 60px;
  width: 250px;
  font-size: 0.8em;
  background-color: transparent;
  color: #25283D;
}

.indiv {
  font-size: 1.7em;
  width: 600px !important;
}

.indiv td{
  width: 100%;
  padding: 10px;
  margin: 10px;
}

.indiv th{
  padding: 10px;
}

.display{
  font-size: 3em;
  font-weight: 600;
}