<h1>Merchant names</h1>

<p><a href="/merchant/new">Add new merchant</a></p>

<table>
  <tr>
    <th>Merchant name</th>
  </tr>
  <% for merchant in @merchants%>
  <tr>
    <td><a href="/merchant/<%= merchant.id %>"><%= merchant.name %></a></td>
  </tr>
  <%end%>
</table>