<h1>Users</h1>

<table>
  <tr>
    <th id="user_title">ID</th>
    <th id="user_title">Name</th>
  </tr>
  <% for user in @users %>
  <tr>
    <th id="user"><%= user.id %></th>
    <th id="user"><%= user.name%></th>
  </tr>
  <%end%>
</table>